.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3f193d;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .footer{
  background: bottom #61dafb;
  display: flex;
  text-align: center;
  position:absolute;
  bottom:0;
  flex-direction: column;
  width:100%;
   height:32px;
  /* align-items: center;
  justify-content: center; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
